// Import Bourbon, Neat
@import 'node_modules/bourbon/core/bourbon';
@import 'node_modules/bourbon-neat/app/assets/stylesheets/neat';

@import 'partials/variables';

/* WPFORMS STYLES
----------------------------------------------------------------------------- */
.wpforms-container {
    form.wpforms-form {
        button,
        button[type="submit"],
        a.button {
            border-radius: 9999px;
            border: none !important;
        }
        .wpforms-field-container {
            input[type="text"],
            input[type="email"],
            input[type="phone"],
            input[type="tel"],
            input[type="password"],
            select,
            textarea {
                border: 1px solid #d3ced2;
                &.wpforms-error {
                    border: 1px solid #cc0000;
                }
            }
        }
    }
}
