/* BLOG STYLES
----------------------------------------------------------------------------- */
.blog {
    &.blog-archive {
        .content-sidebar-wrap {
            flex-wrap: wrap;
            .archive-description {
                width: 100%;
                padding: 0;
                .archive-title {
                    padding: 30px;
                    @include media($screen--l) {
                        padding: 12px 30px;
                        font-size: 36px;
                    }
                }
            }
        }
        &.full-width-content {
            #genesis-content {
                .breadcrumb {
                    margin-left: 0;
                    margin-right: 0;
                }
                .archive-description {
                    text-align: center;
                }
            }
        }
        .pagination {
            text-align: center;
            ul {
                display: inline-block;
                text-align: center;
                border: 1px solid #ccc;
                li {
                    float: left;
                    border: 0;
                    & > a,
                    &.pagination-omission {
                        margin-bottom: 0;
                        padding: calc(.667em + 2px) calc(1.333em + 2px);
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1;
                    }
                }
            }
        }
    }
}

.featured-post {
    h2,
    h3 {
        margin-bottom: 0;
    }
    .entry-title {
    	text-align: center;
    }
}
