/*
Override colors for responsive nav menu - this loads last after in cascade after color schemes.
---------------------------------------------------------------------------------------------------- */
.site-footer .genesis-nav-menu .current-menu-item span,
.site-footer .genesis-nav-menu a:focus span,
.site-footer .genesis-nav-menu a:hover span {
  border-bottom: 2px solid;
}

.genesis-nav-menu .current-menu-item span,
.genesis-nav-menu a:focus span,
.genesis-nav-menu a:hover span {
  border-bottom: 2px solid;
}

// Force Sub Menu colors for all schemes.
.genesis-responsive-menu .genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-responsive-menu .genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-responsive-menu .genesis-nav-menu .sub-menu .current-menu-item a,
.genesis-responsive-menu .genesis-nav-menu .sub-menu a,
.genesis-responsive-menu .genesis-nav-menu .sub-menu a:focus,
.genesis-responsive-menu .genesis-nav-menu .sub-menu a:hover {
  color: $sub-menu-color;
}

.genesis-responsive-menu .genesis-nav-menu .sub-menu .current-menu-item > a > span,
.genesis-responsive-menu .genesis-nav-menu .sub-menu .current-menu-item > a:focus > span,
.genesis-responsive-menu .genesis-nav-menu .sub-menu .current-menu-item > a:hover > span,
.genesis-responsive-menu .genesis-nav-menu .sub-menu a:focus > span,
.genesis-responsive-menu .genesis-nav-menu .sub-menu a:hover > span {
  border-bottom: 2px solid;
  border-bottom-color: $sub-menu-color;
}

.genesis-responsive-menu .genesis-nav-menu .menu-item a {
  //  border-color: lighten($sub-menu-color, 55);
}
// Target responsive menu only and loads after other styles applied to force these colors on the mobile menu.
@media screen and (max-width: 1023px) {
  .genesis-responsive-menu .genesis-nav-menu .menu-item a {
    color: $sub-menu-color;
    border-bottom: 1px solid lighten($sub-menu-color, 35);
  }

  .genesis-responsive-menu .genesis-nav-menu a:focus,
  .genesis-responsive-menu .genesis-nav-menu a:hover {
    color: $sub-menu-color;
  }

  .genesis-responsive-menu .genesis-nav-menu .current-menu-item a > span,
  .genesis-responsive-menu .genesis-nav-menu a:focus > span,
  .genesis-responsive-menu .genesis-nav-menu a:hover > span {
    border-bottom: 2px solid $sub-menu-color;
  }

  .genesis-responsive-menu .genesis-nav-menu .sub-menu a {

    color: $sub-menu-color;
  }

  .genesis-responsive-menu .genesis-nav-menu .sub-menu a span {

    border-color: $sub-menu-color;
  }

  .genesis-nav-menu .sub-menu .current-menu-item > a:focus,
  .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
    color: $sub-menu-color;
  }

  .genesis-nav-menu .sub-menu .current-menu-item > a:focus > span,
  .genesis-nav-menu .sub-menu .current-menu-item > a:hover > span {
    border-bottom-color: $sub-menu-color;
  }
}
