/*
Overrides for colors hover and focus - loads after color cascade.
---------------------------------------------------------------------------------------------------- */
.footer-widgets .footer-widgets-1 a:focus,
.footer-widgets .footer-widgets-1 a:hover,
.footer-widgets .footer-widgets-2 a:focus,
.footer-widgets .footer-widgets-2 a:hover {
  color: $base-text-color;
  border-bottom-color: transparent;
}

.footer-widgets .menu-social-menu-container li > a {
  color: $white;
  border-bottom: none;

}
