/*
Default Colors - All of the elements with colors not in base color scheme
---------------------------------------------------------------------------------------------------- */

/* Default Menu Colors */

.nav-primary {
  background-color: transparent;
}

.genesis-nav-menu .sub-menu a {
  color: $sub-menu-color;
}

.genesis-nav-menu .sub-menu {
  background: $sub-menu-background;

}

.menu-toggle {
  color: $white;
}

.menu-toggle .activated .genesis-nav-menu a {
  color: $sub-menu-color;
}

.menu-toggle:focus,
.menu-toggle:hover {
  background-color: $soft-white;
}

.sub-menu-toggle,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
  background-color: $sub-menu-background;
}

.genesis-responsive-menu .genesis-nav-menu {
  background-color: $sub-menu-background;
  @include media($screen--m) {
    background-color: transparent;
  }
}

.genesis-responsive-menu .genesis-nav-menu .sub-menu {
  @include media($screen--m) {
    border-top-color: $white;
  }
}

.genesis-nav-menu .sub-menu,
.genesis-nav-menu .sub-menu a,
.genesis-responsive-menu .genesis-nav-menu .sub-menu {
  border-color: $white;
}

.genesis-responsive-menu .genesis-nav-menu .sub-menu a {
  border-color: $white;
  @include media($screen--m) {
    border-color: $white;
  }

}

.genesis-responsive-menu .genesis-nav-menu .sub-menu a {
  color: $sub-menu-color;
}

.genesis-responsive-menu .genesis-nav-menu .menu-item a {
  border-bottom-color: $white;
}

.menu-social-menu-container li > a {
  color: $base-color-1;
  border-bottom: none;

}

.footer-widgets .menu-social-menu-container li > a {
  color: $white;
  border-bottom: none;

}

/* Theme colors */

.front-page-cta .widget-title {
  color: $white;
}

.sidebar .enews-widget,
.sidebar .enews-widget .widget-title {
  color: $white;
}

.sidebar .enews-widget input[type="submit"] {
  color: $white;
}

.sidebar .enews-widget input[type="submit"]:focus,
.sidebar .enews-widget input[type="submit"]:hover {
  background-color: $soft-white;
  color: $base-text-color;

}

.site-footer {
  color: $white;
}

.site-footer a {
  color: $white;
  border-bottom: 1px solid $white;
}

.site-footer a:focus,
.site-footer a:hover {
  color: $grey;
  border-bottom: 1px solid transparent;
}

.footer-widgets {
  background-color: $white;
}

.footer-widgets .widget-title {
  color: $white;
}

.footer-widgets-1 {
  background: $grey;
}

.footer-widgets .footer-widgets-1 a {
  color: $white;
  border-color: $white;
}

.footer-widgets .footer-widgets-1 a:focus,
.footer-widgets .footer-widgets-1 a:hover {
  color: $base-color-6;
}

.footer-widgets-1 section:last-child {
  color: $white;

}

.footer-widgets-2 {
  background: $soft-white;
  color: $base-text-color;
}

.footer-widgets .footer-widgets-2 a:focus,
.footer-widgets .footer-widgets-2 a:hover {
  color: $base-text-color;
  border-bottom-color: transparent;
}

a.button,
button {
  color: $white;
}

.button:focus,
.button:hover,
.home .widget .button:focus,
.home .widget .button:focus p,
.home .widget .button:focus p a,
.home .widget .button:hover,
.home .widget .button:hover p,
.home .widget .button:hover p a,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  background-color: $grey;
}

.fixed-header-on .custom-header-background .site-header {
  @include media($screen--m) {
    background-color: transparent;
  }
}

// .archive-pagination li a:focus,
// .archive-pagination li a:hover {
//   color: $base-color-3;
// }

.archive-pagination li a {
  background: lighten($grey, 25);
  color: darken($soft-black,10);
}

.archive-pagination .active a {
  color: $white;
}
