/*
Custom Classes - for custom class styles
---------------------------------------------------------------------------------------------------- */

.subtitle {
  font-family: $accent-font;
  font-size: $base-font-size + 12;
}

.widget_sp_image-image-link {
  border-bottom: 1px solid transparent;
  transition: none;
}

.link-has-image {
  border-bottom: 1px solid transparent;
}

.alignleft.center-mobile,
.alignright.center-mobile {
  @include media($screen--phone) {
    display: block;
    float: none;
    margin: 0 auto 24px;
  }
}
