/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
  position: relative;
  width: 100%;
  z-index: 400;
  @include media($screen--m) {
    position: fixed;

  }
}

.fixed-header-off .site-header {
  position: relative;
}

.home .site-header {
  z-index: 400;
  position: relative;
  @include media($screen--m) {
    position: relative;
    background-color: transparent;
  }
}

.home.fixed-header-on .site-header {
  z-index: 400;
  position: relative;
  @include media($screen--m) {
    position: fixed;
    background-color: transparent;
  }
}

.custom-header-background.light .site-header,
.fixed-header-off .custom-header-background .site-header {
  padding-top: 0;
  padding-bottom: 0;
}

.site-header > .wrap {
  padding: 15px 0 0;
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @include media($screen--m) {
    padding: 15px 0;
    flex-direction: row;
  }
}

.fixed-header-on .custom-header-background {
  //background-color: transparent;
  z-index: 100;
}

.custom-header-background.light:before,
.fixed-header-off .custom-header-background:before {
  border-left: 50px transparent solid!important;
  transition: border-left .3s linear .2s;
}

.front-page-welcome {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 400px;
  // height: 400px;
  height: auto;
  padding: 5% 20%;
  color: $white;
  text-align: right;
  position: relative;
  @include media($screen--m) {
    min-height: 800px;
    // height: 800px;
    height: auto;
  }
}

.front-page-welcome:before {
  content: "";
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 50px transparent solid!important;
  @include media($screen--m) {
    border-left: 50px transparent solid!important;
  }
}

.custom-header-background.light .front-page-welcome:before,
.fixed-header-off .custom-header-background .front-page-welcome:before {
  border-left: 50px transparent solid!important;
}

.home .front-page-welcome .widget {
  z-index: 99;
  // max-height: 400px;
  overflow: hidden;
}

.home .front-page-welcome .widget-title {
  color: $white;
  font-size: $h1-font-size;
  font-weight: 400;
}

/* ## Title Area
--------------------------------------------- */

.title-area {
  float: none;
  padding: 10px 0;
  width: 100%;
  margin: auto;
  @include media($screen--m) {
    float: left;
    padding-left: 50px;
    width: 300px;
  }
  @include media($screen--xxl) {

    padding-left: 0;

  }

}

.header-image .title-area {
  margin: 0 auto;
  max-width: 300px;
  padding: 0;
}

.site-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
  text-decoration: none;
  border-bottom: none;
}

.site-title a:focus,
.site-title a:hover {
  opacity: .7;
}

.header-image .site-title > a {
  background-position: center !important;
  background-size: contain !important;
  float: left;
  min-height: 60px;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 0;
  @include media($screen--m) {
    margin-bottom: 0;
  }
}

.site-description,
.site-title {
  margin-bottom: 0;
  text-align: center;
  @include media($screen--l) {
    text-align: left;
  }
}

.no-primary-nav .site-description,
.no-primary-nav .site-title {
  text-align: center;
}

.site-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
  @include media($screen--m) {
    margin-bottom: 0;
  }
}

.header-image .site-description,
.header-image .site-title {
  display: block;
  text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
  float: right;
  text-align: center;
  width: 100%;
  @include media($screen--m) {
    width: 620px;
    text-align: right;
  }
  @include media($screen--m) {
    width: 800px;
  }

}
