/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-bar .site-container {

  min-height: calc(100vh - 46px);
  @include media($screen--m) {
    min-height: calc(100vh - 32px);
  }
}

.site-inner,
.wrap {
  margin: 0 auto;
  width: 100%;
  // @include media($screen--s2) {
  //   width: 960px;
  // }
  // @include media($screen--m) {
  //   width: 1140px;
  // }
  // @include media($screen--xl) {
  //   width: $max-width;
  // }

}

.wrap {
  padding-left: 5%;
  padding-right: 5%;
  @include media($screen--m) {
    padding-left: 3%;
    padding-right: 3%;
  }
}

.site-inner {
  clear: both;
  margin-top: 0;
  max-width: $max-width;
  padding: 1% 1% 0;
  flex: 1 0 auto;
  // 1 0 auto needed here for IE11
  word-wrap: break-word;
  @include media($screen--m) {
    padding: 40px;
    margin-top: 168px;
  }
  @include media($screen--l) {

    margin-top: 90px;
  }
}

.fixed-header-off .site-inner {
  margin-top: 0;
}

.home .site-inner {
  max-width: 100%;
}

.home.home-widgets-inactive .site-inner {
  max-width: $max-width;
  margin: auto;
}

.home.no-featured-section .site-inner {
  margin-top: 40px;
  @include media($screen--m) {
    margin-top: 220px;
  }
  @include media($screen--l) {
    margin-top: 150px;

  }
}

.landing-page .site-inner {
  width: 800px;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

// .content-sidebar-sidebar .content-sidebar-wrap,
// .sidebar-content-sidebar .content-sidebar-wrap,
// .sidebar-sidebar-content .content-sidebar-wrap,
// .content-sidebar-sidebar .content-sidebar-wrap,
// .sidebar-content-sidebar .content-sidebar-wrap,
// .sidebar-sidebar-content .content-sidebar-wrap {
//   float: right;
// }
//
.content-sidebar-wrap {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  @include media($screen--m) {
    margin: auto;
  }
}

/* ### Content */

.content,
.sidebar-primary {
  width: 100%;
  margin: 0 auto;

}

.content-sidebar .content {
  order: 1;
  @include media($screen--m) {
    width: 68%;
  }
}

.content-sidebar .sidebar-primary {
  order: 2;
  @include media($screen--m) {
    width: 26%;
    flex-basis: 300px;
  }
}

.full-width-content .content {
  width: 100%;
  max-width: 800px;
}

.home.full-width-content .content {
  width: 100%;
  max-width: none;
}

/* ### Primary Sidebar */

.sidebar-content .content {
  order: 1;
  @include media($screen--m) {
    order: 2;
    width: 68%;
  }
}

.sidebar-content .sidebar-primary {
  order: 2;
  @include media($screen--m) {
    order: 1;
    width: 26%;
    flex-basis: 300px;
  }
}

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */
@include media($screen--m) {
  .one-half,
  .three-sixths,
  .two-fourths {
    @include span-columns(6);
  }

  .one-third,
  .two-sixths {
    @include span-columns(4);
  }

  .four-sixths,
  .two-thirds {
    @include span-columns(8);
  }

  .one-fourth {
    @include span-columns(3);
  }

  .three-fourths {
    @include span-columns(9);
  }

  .one-sixth {
    @include span-columns(2);
  }

  .five-sixths {
    @include span-columns(10);
  }

  .last {
    @include omega();
  }

  .last + * {
    clear: both;
  }

}
