/* # Plugins
---------------------------------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget input {
  font-size: 16px;
  margin-bottom: 16px;
  margin-left: 1px;
  margin-right: 1px;
}

.enews-widget input[type="submit"] {
  margin: 0;
  width: auto;
}

.enews form + p {
  margin-top: 24px;
}

/* Gravity Form Styles
--------------------------------------------- */

.gform_wrapper {
  background-color: $medium-background-color;
  padding: 20px;
}

.footer-widgets-2 .gform_wrapper,
.home .gform_wrapper {
//  background-color: transparent;
  padding: 20px;
}

.home .gform_widget .widget-title {
  font-size: 30px;
}
/* Ninja Form Styles
--------------------------------------------- */
.ninja-forms-all-fields-wrap {
  padding: 20px;
  background-color: $medium-background-color;
}

.footer-widgets-2 .ninja-forms-all-fields-wrap,
.home .ninja-forms-all-fields-wrap {
  background-color: transparent;
  padding: 20px;
}

/* Contact Form 7
--------------------------------------------- */

.wpcf7-form {
  padding: 20px;
  background-color: $medium-background-color;
}

.footer-widgets-2 .wpcf7-form,
.home .wpcf7-form {
  background-color: transparent;
  padding: 20px;
}

/* Form Widgets in Footer 2
--------------------------------------------- */
// Set maximum form width for this area.
.footer-widgets-2 {
  .wpcf7-form,
  .widget_ninja_forms_widget,
  .gform_widget {
    max-width: 600px;
  }
}


/* ## Jetpack
--------------------------------------------- */

#wpstats {
  display: none;
}
