/*
Social Icons Classes - for custom menu and widgets
---------------------------------------------------------------------------------------------------- */

.menu-social-menu-container .icon {
  height: 2em;
  width: 2em;
}

.menu-social-menu-container ul {
  padding: 20px;
  text-align: center;

}

.menu-social-menu-container ul > li {
  display: inline-block;
  padding: 20px 16px;

}

.sidebar .menu-social-menu-container ul {
  padding: 0;
}

.sidebar .menu-social-menu-container ul > li {
  padding: 10px;
}
